// header color
$headerColor:#fff;

// body color
$bodyColor: #E3E9EE;

// light-gray
$lightGray: #B7B7B7;

// bg elems color
$elemBgColor: #fff;

// dark-gray
$darkGray: #3C3C3C;

// likes active color
$likedColor: #D71A44;

// light-blue
$lightBlue: #1E94D2;


