//  Цвета
$textColor:#424242;
// Шапка
$lightGrey: #F0EFEF;

// Клиенты
$turquoise: #4CE0C4;
$scooter: #32C7DF;

// Развлечения
$hotPink: #FD5DB5;
$jaffa: #EB8742;

// Бронь для организации, договора
$havelockBlue: #487ED6;
$purpleHeart: #6B22D1;

// Корпуса + purpleHeart
$electricViolet: #9415DE;

// Службы быта, чек
$ochre: #D17222;
$fuelYellow: #EEA02F;

// Договора
$turquoiseBlue: #52D6E6;
$dodgerBlue: #2691F2;

// Номера + turquoise
$shamrock: #2BC38C;