{{> header}}     
    <main class="main">
        <div class="container">
            <h2 class="section-title">Клиенты</h2>
            <div class="row">
                <div class="col-12 col-md-12">
                    <table class="table-clients item-style__blue">
                        <thead>
                            <tr class="item-style__blue">
                                <td>Номер</td>
                                <td>Имя</td>
                                <td>Отчество</td>
                                <td>Фамилия</td>
                                <td>Паспорт (серия)</td>
                                <td>Паспорт (номер)</td>
                                <td>Телефон</td>
                                <td>Дата регистрации</td>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <td>1</td>
                                <td>Денис</td>
                                <td>Владимирович</td>
                                <td>Цветков</td>
                                <td>4517</td>
                                <td>484123</td>
                                <td>79125998779</td>
                                <td>2018-11-05</td>
                            </tr> -->
                        </tbody>
                        <ul class="table-clients__pages-btn">
                            <li><</li>
                            <li>1</li>
                            <li>></li>
                        </ul>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

        $.ajax({
            method: "POST",
            url: "server/client.php",
            data: {action:'all_clients'}
        })
        .done(function(text) {  
            var clients = JSON.parse(text);     
            for(var i=0; i<clients.length; i++){
                $('.table-clients tbody').append($('<tr>'));
                
                $('.table-clients tbody tr:last-child').append('<td>'+clients[i].id+'</td><td>'+clients[i].name+'</td><td>'+clients[i].middle_name+'</td><td>'+clients[i].surname+'</td><td>'+clients[i].passport_serial+'</td><td>'+clients[i].passport_number+'</td><td>'+clients[i].phone+'</td><td>'+clients[i].registry_data+'</td>')
                
            }
        });

</script>
    <script>
        $(document).ready(function(){
            
        });
    </script>

</body>
</html>