    <main class="main">
        <section class="action">
            <div class="container">
                    <h2 class="section-title">
                        Действия
                    </h2>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-3">
                            <a class="item item-style__lightBlue" href="add_client.php">
                                <img src="img/icons/1.png" alt="" class="item__icon">
                                <p class="item__title">Добавить клиента</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <a class="item item-style__pinkOrange" href="booking">
                                <img src="img/icons/2.png" alt="" class="item__icon">
                                <p class="item__title">Забронировать номер</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <a class="item item-style__blue" href="#">
                                <img src="img/icons/3.png" alt="" class="item__icon">
                                <p class="item__title">Бронь для организации</p>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <a class="item item-style__yellow" href="#">
                                <img src="img/icons/4.png" alt="" class="item__icon">
                                <p class="item__title">Получить чек</p>
                            </a>
                        </div>
                    </div>
                </div>
        </section>
        <section class="admin-panel">
                <div class="container">
                        <h2 class="section-title">
                            Панель управления
                        </h2>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-4">
                                <a class="item item-style__lightBlue" href="clients">
                                    <img src="img/icons/5.png" alt="" class="item__icon">
                                    <p class="item__title">Клиенты</p>
                                </a>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-5">
                                <a class="item item-style__purple" href="hotels">
                                    <img src="img/icons/6.png" alt="" class="item__icon">
                                    <p class="item__title">Корпуса</p>
                                </a>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <a class="item item-style__blue" href="#">
                                    <img src="img/icons/7.png" alt="" class="item__icon">
                                    <p class="item__title">Отзывы</p>
                                </a>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <a class="item item-style__pinkOrange" href="#">
                                    <img src="img/icons/8.png" alt="" class="item__icon">
                                    <p class="item__title">Развлечения</p>
                                </a>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                    <a class="item item-style__yellow" href="#">
                                        <img src="img/icons/9.png" alt="" class="item__icon">
                                        <p class="item__title">Службы быта</p>
                                    </a>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-5">
                                    <a class="item item-style__dodgetBlue" href="#">
                                        <img src="img/icons/10.png" alt="" class="item__icon">
                                        <p class="item__title">Договора</p>
                                    </a>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-5">
                                    <a class="item item-style__shamrock" href="#">
                                        <img src="img/icons/11.png" alt="" class="item__icon">
                                        <p class="item__title">Номера</p>
                                    </a>
                            </div>
                        </div>
                    </div>
            </section>
    </main>
</body>
</html>