<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="dashboard">
                    <div class="profile-card">
                        <div class="profile-card-info d-flex justify-content-center flex-column align-items-center">
                            <img src="img/users/_Cvetkoff.jpg" alt="Денис Цветков" class="profile-card-avatar-mini">
                            <span class="profile-card-name">Денис Цветков</span>
                            <a href="#" class="profile-card-username">@_Cvetkoff</a>
                        </div>
                        <ul class="profile-stats list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center borderless">
                                Записей
                                <span class="badge badge-primary badge-pill">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center borderless">
                                Подписок
                                <span class="badge badge-primary badge-pill">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center borderless">
                                Подписчиков
                                <span class="badge badge-primary badge-pill">1</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="news">
                    <div class="post">
                        <img src="img/users/_Cvetkoff.jpg" alt="Денис Цветков" class="post-avatar align-bottom">
                        <span class="post-name">Денис Цветков</span>
                        <span class="post-username">@_cvetkoff</span>
                        <span class="post-created-date">22:35 11.12.2018</span>
                        <p class="post-content">
                            Короче это мой первый твит епта
                        </p>
                        <div class="post-action-list">
                            <a class="post-comments"><i class="fas fa-comments"></i><span class="post-action-list-value">2</span></a>
                            <a class="post-likes"><i class="fas fa-heart"></i><span class="post-action-list-value">108</span></a>
                        </div>
                    </div>
                    <div class="post">
                        <img src="https://tele-club.ru/storage/2017-06-14/a227c68ce4c60343587ccb4b35c2ad2b.jpg" alt="Yanix" class="post-avatar align-bottom">
                        <span class="post-name">YANIX</span>
                        <span class="post-username">@yanix</span>
                        <span class="post-created-date">22:35 11.12.2018</span>
                        <p class="post-content">
                            Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.
                        </p>
                        <div class="post-action-list">
                            <a class="post-comments"><i class="fas fa-comments"></i><span class="post-action-list-value">2</span></a>
                            <a class="post-likes"><i class="fas fa-heart"></i><span class="post-action-list-value">108</span></a>
                        </div>
                    </div>
                    <div class="post">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_XiG-4HdNlDpj3bOSi9n8TNKGeaNNMi-33TGt3kZF-qp5O6pkpg" alt="Big Baby Tape" class="post-avatar align-bottom">
                        <span class="post-name">Big Baby Tape</span>
                        <span class="post-username">@big_baby_tape</span>
                        <span class="post-created-date">22:35 11.12.2018</span>
                        <p class="post-content">
                            What's up wigga
                        </p>
                        <div class="post-action-list">
                            <a class="post-comments"><i class="fas fa-comments"></i><span class="post-action-list-value">2421</span></a>
                            <a class="post-likes"><i class="fas fa-heart liked"></i><span class="post-action-list-value">10854</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>