<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="dashboard">
                    <div class="profile-card">
                        <div class="profile-card-info d-flex justify-content-center flex-column align-items-center">
                            <img src="img/users/_Cvetkoff.jpg" alt="Rick Grimes" class="profile-card-avatar">
                            <span class="profile-card-name">Rick Grimes</span>
                            <a href="#" class="profile-card-username">@rick_grimes</a>
                        </div>
                        <ul class="profile-stats list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center borderless">
                                Записей
                                <span class="badge badge-primary badge-pill">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center borderless">
                                Подписок
                                <span class="badge badge-primary badge-pill">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center borderless">
                                Подписчиков
                                <span class="badge badge-primary badge-pill">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center borderless">
                                Понравилось постов
                                <span class="badge badge-primary badge-pill">137</span>
                            </li>
                        </ul>
                        
                    </div>
                    <button class="btn btn-success w-100">Изменить профиль</button>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="news">
                    <div class="post">
                        <span class="post-name">Rick Grimes</span>
                        <span class="post-username">@rick_grimes</span>
                        <span class="post-created-date">22:35 11.12.2018</span>
                        <p class="post-content">
                            Короче это мой первый твит епта
                        </p>
                        <div class="post-action-list">
                            <a class="post-comments"><i class="fas fa-comments"></i><span class="post-action-list-value">2</span></a>
                            <a class="post-likes"><i class="fas fa-heart"></i><span class="post-action-list-value">108</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>