* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif; }

.header {
  background-color: #F0EFEF;
  padding: 10px 0; }

.logo {
  color: #424242;
  text-decoration: none; }

.logo > img {
  margin-right: 10px; }

.section-title {
  text-align: center;
  margin: 36px 0 30px;
  font-weight: 400;
  font-size: 18px; }

.item-style__lightBlue {
  background: linear-gradient(-34deg, #4CE0C4, #32C7DF); }

.item-style__pinkOrange {
  background: linear-gradient(-34deg, #FD5DB5, #EB8742); }

.item-style__blue {
  background: linear-gradient(-34deg, #487ED6, #6B22D1); }

.item-style__yellow {
  background: linear-gradient(-34deg, #D17222, #EEA02F); }

.item-style__purple {
  background: linear-gradient(-34deg, #9415DE, #6B22D1); }

.item-style__dodgetBlue {
  background: linear-gradient(-34deg, #52D6E6, #2691F2); }

.item-style__shamrock {
  background: linear-gradient(-34deg, #2BC38C, #4CE0C4); }

.popup {
  display: none;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 200px;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: #EEEDED;
  width: 100%;
  font-size: 14px;
  padding: 40px 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); }
  .popup form {
    margin: 0 auto;
    width: 350px; }
  .popup input {
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 20px; }
  .popup label {
    display: inline-block;
    margin-bottom: 7px; }
  .popup input[type='number'] {
    width: 150px;
    padding: 10px 10px 10px 30px; }
  .popup input[type='submit'] {
    margin-top: 30px; }
  .popup__close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 18px;
    color: #A9A5A5; }
    .popup__close:hover {
      color: #424242;
      cursor: pointer; }

.fa-star {
  color: #B7B7B7; }
  .fa-star.active {
    color: #E6A436; }
  .fa-star:hover {
    cursor: pointer; }

form.chooseHotel {
  position: relative; }

.hotel-choose__input {
  padding: 7px 30px;
  font-size: 12px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #828282;
  outline: none; }
  .hotel-choose__input:hover {
    cursor: pointer; }
  .hotel-choose__input:disabled {
    background-color: #ffffff; }

.fa-chevron-circle-down {
  position: absolute;
  top: 7px;
  right: 10px;
  color: #C9C9C9; }

.hotels {
  display: none;
  border-radius: 5px;
  border: 1px solid #828282;
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: #fff; }
  .hotels > li {
    list-style: none;
    display: flex;
    padding: 20px 30px; }
    .hotels > li > .hotel__class {
      margin-right: 24px; }
    .hotels > li > .hotel__name {
      font-weight: 500;
      font-size: 14px;
      color: #444444; }
    .hotels > li:hover {
      cursor: pointer;
      background-color: #FBFBFB; }

.section-hotel-floors {
  display: none;
  background-color: #F0EFEF;
  margin-top: 30px;
  padding: 40px 0 100px; }

.hotel-floors {
  margin: 30px; }
  .hotel-floors > tbody {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-start; }
  .hotel-floors__number {
    padding-right: 10px;
    font-size: 14px; }
  .hotel-floors__schema {
    border: 1px solid #000;
    width: 222px; }
    .hotel-floors__schema > .rooms {
      list-style: none;
      display: flex;
      flex-wrap: wrap; }
      .hotel-floors__schema > .rooms > li {
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        background-color: #4EDE55;
        margin: 2px;
        font-size: 12px;
        line-height: 40px;
        text-align: center; }
        .hotel-floors__schema > .rooms > li.not_empty {
          background-color: #B6B6B6; }
          .hotel-floors__schema > .rooms > li.not_empty:hover {
            background-color: #B6B6B6;
            font-weight: 400; }
        .hotel-floors__schema > .rooms > li:hover {
          cursor: pointer;
          font-weight: 700;
          background-color: #41BB26; }

.room {
  display: none; }

.room_text {
  font-size: 16px;
  margin-bottom: 14px; }
  .room_text b {
    font-weight: 700; }

.client-type {
  display: flex;
  flex-direction: row;
  margin: 14px 0; }
  .client-type p {
    margin-right: 10px; }

.form-new-client {
  display: none;
  margin-bottom: 30px; }
  .form-new-client input {
    border-radius: 5px;
    padding: 10px 5px 10px 30px;
    border: none;
    outline: none;
    margin-bottom: 5px; }
  .form-new-client input[type="text"], .form-new-client input[type="phone"] {
    min-width: 300px; }
  .form-new-client input[type="number"] {
    padding: 10px 5px 10px 5px;
    width: 148px; }

.form-exist-client {
  display: none;
  margin-bottom: 30px; }
  .form-exist-client label {
    margin-right: 15px; }
  .form-exist-client input[type='phone'] {
    border-radius: 5px;
    padding: 10px 5px 10px 30px;
    border: none;
    outline: none;
    margin-right: 5px; }
  .form-exist-client button.search-client {
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
    outline: none;
    color: #fff; }
    .form-exist-client button.search-client:hover {
      cursor: pointer; }

.item-period {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px; }
  .item-period p {
    margin-right: 10px;
    font-size: 12px;
    min-width: 100px; }

.booking-result {
  margin-top: 30px;
  padding: 20px 50px;
  border-radius: 5px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
  .booking-result .fa-check-circle {
    margin-right: 5px; }

.table-search-clients {
  background-color: #fff;
  text-align: center; }
  .table-search-clients > thead {
    font-weight: 700; }
  .table-search-clients > tbody .choose_client_booking {
    border: 1px solid #4867CD;
    background: transparent;
    padding: 7px 10px;
    border-radius: 5px;
    font-weight: 700;
    outline: none; }
    .table-search-clients > tbody .choose_client_booking:hover {
      background-color: #4867CD;
      color: #fff;
      cursor: pointer; }
    .table-search-clients > tbody .choose_client_booking.choose {
      background-color: #4867CD;
      color: #fff; }
    .table-search-clients > tbody .choose_client_booking > .fa-check-circle {
      margin-right: 5px; }
  .table-search-clients tbody tr {
    border-bottom: 1px solid #A3A3A3; }
    .table-search-clients tbody tr td {
      padding: 5px 15px; }
    .table-search-clients tbody tr:last-child {
      border: none; }
