body {
  background: #E3E9EE; }

header {
  background: #fff; }

.borderless {
  border: none; }

.center {
  margin-top: 100px; }

.no-header-padding {
  padding-left: 0;
  padding-right: 0; }

.liked {
  color: #D71A44; }

.main {
  padding-top: 10px; }

.transparent-bg {
  background: rgba(255, 255, 255, 0.8); }

.profile-card {
  padding-top: 10px;
  background-color: #fff;
  margin-bottom: 10px; }
  .profile-card-name {
    display: block;
    font-weight: 700; }
  .profile-card-username {
    color: #B7B7B7; }
  .profile-card-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px; }
  .profile-card-avatar-mini {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px; }

.post {
  padding: 30px;
  font-size: 14px;
  background-color: #fff;
  position: relative;
  margin-bottom: 3px; }
  .post-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    float: left; }
  .post-name {
    color: #3C3C3C;
    font-weight: 700; }
  .post-username {
    color: #B7B7B7; }
  .post-created-date {
    color: #B7B7B7;
    margin-left: 15px; }
  .post-content {
    margin: 7px 10px 40px 63px; }
  .post-action-list {
    position: absolute;
    bottom: 15px;
    left: 30px;
    color: #B7B7B7;
    font-size: 16px; }
    .post-action-list > a {
      margin-right: 15px; }
      .post-action-list > a.post-comments > i:hover {
        color: #1E94D2;
        cursor: pointer; }
      .post-action-list > a.post-likes > i:hover {
        color: #D71A44;
        cursor: pointer; }
    .post-action-list-value {
      margin-left: 5px; }

.sign-up-page {
  background-image: url("../img/sign-up-bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 56px);
  position: relative; }

.sign-up-page::before {
  width: 100%;
  height: 100vh;
  content: ' ';
  position: absolute;
  background: rgba(255, 255, 255, 0.7); }

.sign-up {
  padding: 30px;
  background-color: #fff;
  border-radius: 5px; }
